# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Package lock file
package-lock.json

# build folder
/frontend/build

# Config files
/frontend/src/js/config.json

# Editor configs
.idea

