/*
This file is for Cross-Browser Volumebar Costumization

Huge thanks to Daniel Stern.
Source: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/

/* GENERAL */

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
}

/* Fucks with accessibility */

input[type=range]:focus {
    outline: none;
}

/* TRACK */

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #555;
    border-radius: 15px;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1DB954;
}

input[type=range]:hover::-webkit-slider-runnable-track {
    background: #1DB954;
} */

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #B3B3B3;
    border-radius: 15px;
}

input[type=range]::moz-range-progress {
    background-color: #1DB954;
}

input[type=range]::-ms-track {
    /* width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; */
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #B3B3B3;
    border-radius: 15px;
}

input[type=range]::-ms-fill-lower {
    background-color: #1DB954;
}

/* input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
} */

/* THUMB */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* height: 20px;
    width: 20px; */
    height: 0;
    width: 0;
    border-radius: 20px;
    box-shadow: -80px 0 0 80px #B3B3B3;
}

#volume:hover input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    box-shadow: -80px 0 0 80px #1DB954;
    border: 1px solid black;
    background: #FFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-left: 0px;
    margin-top: -10px;
    outline: none;
    overflow: auto;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFF;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #FFF;
    cursor: pointer;
}